@charset "utf-8";
/* CSS Document */

footer {
	position:absolute;
	z-index:-1;
	width: 100%;
	height: 290px;
	
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iNDUlIiBzdG9wLWNvbG9yPSIjOGYwMjIyIiBzdG9wLW9wYWNpdHk9IjAuNiIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNmQwMDE5IiBzdG9wLW9wYWNpdHk9IjAuNiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);

	background: -moz-linear-gradient(top,  rgba(196,51,53,0.6) 0%, rgba(102,0,0,0.6) 31%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,51,53,0.6)), color-stop(31%,rgba(102,0,0,0.6))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(196,51,53,0.6) 0%,rgba(102,0,0,0.6) 31%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(196,51,53,0.6) 0%,rgba(102,0,0,0.6) 31%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(196,51,53,0.6) 0%,rgba(102,0,0,0.6) 31%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(196,51,53,0.6) 0%,rgba(102,0,0,0.6) 31%); /* W3C */

	-moz-box-shadow: -3px -4px 27px #000000;
	-webkit-box-shadow: -3px -4px 27px #000000;
	box-shadow: -3px -4px 27px #000000;
}

nav#bottom-nav {
	width: 1024px;
	height: 230px;
	margin-left: auto;
	margin-right: auto;
}

div#footer-menu {
	width: 1024px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	background-color:rgba(23,23,23,0.6);
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
}

div#footer-menu li {
	float:left;
	list-style:none;
	margin-left:85px;
	margin-top:12px;
}

div#footer-menu li a {
	font-size:18px; 
	color:#FFF;
	display:block;
	text-decoration:none;
}

div#footer-menu-dropdown {
	width: 1024px;
	height: 220px;;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	background-color:rgba(23,23,23,0.6);
	
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
}

.footer-text li {
	display:block;
}

.footer-text li a {
	color:#FFF;
	text-decoration:none;
}

.footer-text li a:hover {
	color:#03F;
	text-decoration:none;
}